*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgb(143, 1, 1);
    background: linear-gradient(to right, rgb(210, 22, 60), rgb(176, 23, 23));
    text-align: center;
}

h1{
    padding: 8%;
}

h2{
    padding: 4%;
}

h3{
    padding: 3%;
}
